<!DOCTYPE html>
<html>
  <head>
    <title>Beer finder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>

  <body>
    <h1>Lest find you a beer to drink.</h1>
    <div class="container">
      <div class="card">
        <ul>
          <% breweryNames.forEach(name => { %>
          <li>Name of Brewery: <%= name %></li>
          <% }); %> <% breweryCity.forEach(city => { %>
          <li>City: <%= city %></li>
          <% }); %> <% breweryState.forEach(state => { %>
          <li>State: <%= state %></li>
          <% }); %> <% breweryStreet.forEach(street => { %>
          <li>Street: <%= street %></li>
          <% }); %> <% breweryPhone.forEach(phone => { %>
          <li>Phone: <%= phone %></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
